section {
  width: 400px;
  height: 200px;
  border: 1px solid #000;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.caja1 {
  background: blue;
  flex-basis: 0;
  flex-grow: 1;
}

.caja2 {
  background: green;
  flex-basis: 0;
  flex-grow: 1;
}

.caja3 {
  background: pink;
  flex: 1 1 0px;
}